/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/dev-secrets.*
/signing/
/.env.local
/build-profile.json5.envref
**/BuildProfile.ets